## Задача 1. 
Провести дисперсионный анализ для определения того, есть ли различия среднего роста среди взрослых футболистов, хоккеистов и штангистов.  
Даны значения роста в трех группах случайно выбранных спортсменов:  
Футболисты: 173, 175, 180, 178, 177, 185, 183, 182.  
Хоккеисты: 177, 179, 180, 188, 177, 172, 171, 184, 180.  
Штангисты: 172, 173, 169, 177, 166, 180, 178, 177, 172, 166, 170.  

#### 1. Определим гипотезу  

Основная гипотеза $H_0: \mu_1=\mu_2=\mu_3$  
Альтернативная гипотеза $H_1: \mu_1\neq\mu_2\neq\mu_3$

In [18]:
import numpy as np
import pandas as pd
from scipy import stats
from statsmodels.stats.multicomp import pairwise_tukeyhsd
import pandas as pd

In [20]:
football = np.array([173, 175, 180, 178, 177, 185, 183, 182])
hockey = np.array([177, 179, 180, 188, 177, 172, 171, 184, 180])
weightlifters = np.array([172, 173, 169, 177, 166, 180, 178, 177, 172, 166, 170])

#### 2. Определяем наблюдаемый критерий 

Выбираем критерий Краскела-Уоллиса, потому что в каждой выборке разное количество элементов и они не зависимы между собой

In [29]:
stats.kruskal(football, hockey, weightlifters)

KruskalResult(statistic=7.897493213863828, pvalue=0.01927885061595347)

#### 3. Определяем уровень значимости

$\alpha = 0.05$

$p-value < \alpha \Rightarrow H_0$ отвергается, различия среднего рост футболистов, хоккеистов и штангистоа имеется.  

#### 4. Проводим Post hoc тест Тьюки

In [26]:
df = pd.DataFrame({"score": [173, 175, 180, 178, 177, 185, 183, 182, 
                             177, 179, 180, 188, 177, 172, 171, 184, 180,
                             172, 173, 169, 177, 166, 180, 178, 177, 172, 166, 170],
                   "group": np.repeat(["football", "hockey", "weightlifters"], repeats = [8, 9, 11])})
df

    score          group
0     173       football
1     175       football
2     180       football
3     178       football
4     177       football
5     185       football
6     183       football
7     182       football
8     177         hockey
9     179         hockey
10    180         hockey
11    188         hockey
12    177         hockey
13    172         hockey
14    171         hockey
15    184         hockey
16    180         hockey
17    172  weightlifters
18    173  weightlifters
19    169  weightlifters
20    177  weightlifters
21    166  weightlifters
22    180  weightlifters
23    178  weightlifters
24    177  weightlifters
25    172  weightlifters
26    166  weightlifters
27    170  weightlifters

In [27]:
tukey = pairwise_tukeyhsd(df["score"], df["group"], alpha = 0.05)
print(tukey)

     Multiple Comparison of Means - Tukey HSD, FWER=0.05
==============================================================
 group1      group2    meandiff p-adj   lower    upper  reject
--------------------------------------------------------------
football        hockey  -0.4583  0.979  -6.2732  5.3566  False
football weightlifters  -6.3977 0.0219 -11.9583 -0.8372   True
  hockey weightlifters  -5.9394 0.0284 -11.3181 -0.5607   True
--------------------------------------------------------------

#### 5. Выводы
Между группой football и hockeyТак нет различий в среднем росте, тогда как между группами football и weightlifters, а так же между группами hockey и weightlifters есть различия в среднем росте.